<!-- MyClient/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyClient{% endblock %}</title>
    <!-- CSS для Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JS для Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <!-- Верхняя глянцевая полоса с эмблемой -->
    <header class="header">
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="MyClient" class="logo">
        </div>
        <div class="app-name">
            MyClient
        </div>
    </header>

    <!-- Полоса с навигацией -->
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'schedule' %}" class="{% if request.path == '/schedule/' %}active{% endif %}">Расписание</a></li>
            <li><a href="{% url 'clients' %}" class="{% if request.path == '/clients/' %}active{% endif %}">Клиенты</a></li>
            <li><a href="{% url 'blocks' %}" class="{% if request.path == '/blocks/' %}active{% endif %}">Блоки</a></li>
            <li><a href="{% url 'profile' %}" class="{% if request.path == '/profile/' %}active{% endif %}">Профиль</a></li>
        </ul>
    </nav>


    <!-- Основной контент -->
    <main id="main-content">
        {% block content %}
        <!-- Здесь будет контент страницы -->
        {% endblock %}
    </main>

    <!-- Нижний колонтитул -->
    <footer class="footer">
        <p>© 2025 MyClient. Все права защищены.</p>
    </footer>
    <!-- Подключение Popper.js и Bootstrap JS через CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<script>
    document.getElementById('search').addEventListener('input', function() {
        const query = this.value;
        const resultsContainer = document.getElementById('search-results');

        // Если поле пустое, скрываем результаты
        if (!query) {
            resultsContainer.style.display = 'none';
            return;
        }

    // Отправляем запрос на сервер для получения результатов автозаполнения
    fetch(`/autocomplete/?query=${query}`)
        .then(response => response.json())
        .then(data => {
            resultsContainer.innerHTML = '';
            if (data.length > 0) {
                data.forEach(client => {
                    const li = document.createElement('li');
                    li.classList.add('list-group-item');

                    // Проверяем, чтобы значения не были undefined
                    const metro = client.metro ? `метро ${client.metro}` : '';
                    const street = client.street ? `улица ${client.street}` : '';

                    // Обновляем текст, показывая только если есть значения
                    li.textContent = `${client.name}${metro ? ', ' + metro : ''}${street ? ', ' + street : ''}`;

                    li.addEventListener('click', () => {
                        // Извлекаем только имя и фамилию из значения name
                        const fullName = client.name.split(' ');
                        const firstName = fullName[0].replace(',', '');  // Первая часть - имя
                        const lastName = fullName.length > 1 ? fullName[1].replace(',', '') : '';  // Вторая часть - фамилия (если есть)

                        // Прячем результаты
                        resultsContainer.style.display = 'none';

                        // Формируем URL с параметром поиска
                        let searchUrl = `?search=${firstName}`;
                        if (lastName && lastName !== "метр" && lastName !== "улиц") {
                            searchUrl += ` ${lastName}`; // Добавляем lastName только если он существует
                        }

                        // Перенаправляем на URL
                        window.location.href = searchUrl;

                        // Очищаем поле ввода
                        document.getElementById('search').value = '';
                    });
                    resultsContainer.appendChild(li);
                });
                resultsContainer.style.display = 'block';
            } else {
                resultsContainer.style.display = 'none';
            }
        });
});
</script>
<script>
    document.querySelector('select[name="sort"]').addEventListener('change', function () {
        this.form.submit(); // Отправляем форму при изменении значения в списке
    });
</script>
<script>
    document.getElementById('search_client').addEventListener('input', function() {
        const query = this.value;
        const resultsContainer = document.getElementById('search-res');

         // Если поле пустое, скрываем результаты
        if (!query) {
            resultsContainer.style.display = 'none';
            return;
        }

        // Отправляем запрос на сервер для получения результатов автозаполнения
        fetch(`/autocomplete/?query=${query}`)
            .then(response => response.json())
            .then(data => {
                resultsContainer.innerHTML = '';
                if (data.length > 0) {
                    data.forEach(client => {
                        const li = document.createElement('li');
                        li.classList.add('list-group-item');
                        li.textContent = client.name;

                        li.addEventListener('click', () => {
                            // Устанавливаем выбранное имя клиента в поле поиска
                            document.getElementById('search_client').value = client.name;

                            // Прячем список результатов
                            resultsContainer.style.display = 'none';

                            // Устанавливаем ID клиента в скрытое поле формы
                            if (!document.getElementById('clientId')) {
                                const hiddenInput = document.createElement('input');
                                hiddenInput.type = 'hidden';
                                hiddenInput.name = 'client_id';
                                hiddenInput.id = 'clientId';
                                document.getElementById('addScheduleForm').appendChild(hiddenInput);
                            }
                            document.getElementById('clientId').value = client.id;

                            // Загружаем стоимость клиента
                            fetch(`/get_client_cost/${client.id}/`)
                                .then(response => response.json())
                                .then(data => {
                                    const isOnline = document.getElementById("is_online").checked;
                                    document.getElementById('schedule_cost').value = isOnline ? data.price_online : data.price_offline;
                                });
                        });
                        resultsContainer.appendChild(li);
                    });
                    resultsContainer.style.display = 'block';
                } else {
                    resultsContainer.style.display = 'none';
                }
            });
    });

    // Слушатель для изменения онлайн/оффлайн и пересчета стоимости
    document.getElementById("is_online").addEventListener("change", function() {
        const clientId = document.getElementById('clientId')?.value;

        if (clientId) {
            fetch(`/get_client_cost/${clientId}/`)
                .then(response => response.json())
                .then(data => {
                    saveJSONToFile(li, "response.json"); // Сохраняем JSON в файл
                    const isOnline = document.getElementById("is_online").checked;
                    document.getElementById('schedule_cost').value = isOnline ? data.price_online : data.price_offline;
                });
        }
    });

    // Отправка формы через AJAX
    document.getElementById("addScheduleForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        const isOnline = document.getElementById("is_online").checked;
        const scheduleCost = document.getElementById("schedule_cost").value;


        formData.append("is_online", isOnline);
        formData.append("schedule_cost", scheduleCost);

        fetch("{% url 'add_schedule' %}", {
            method: "POST",
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Расписание добавлено!");
                    window.location.reload();
                } else {
                    alert(data.error);
                    alert("Ошибка при добавлении расписания.");
                }
            })
            .catch(error => {
                alert("Произошла ошибка. Попробуйте еще раз.");
                console.error("Ошибка:", error);
            });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const addScheduleModal = document.getElementById('addScheduleModal');
        const addScheduleForm = document.getElementById('addScheduleForm');

        // Событие сброса формы при закрытии модального окна
        addScheduleModal.addEventListener('hidden.bs.modal', function () {
            addScheduleForm.reset();

            // Очистка результатов поиска
            const searchResults = document.getElementById('search-res');
            searchResults.innerHTML = '';
            searchResults.style.display = 'none';
        });
    });

    // Функция для ограничения ввода до 2 цифр
    function limitInputToTwoDigits(event) {
        const value = event.target.value;
        if (value.length > 2) {
            event.target.value = value.slice(0, 2); // Ограничение длины до 2 символов
        }
    }

    // Получаем элементы
    const hourInput = document.getElementById('scheduleHour');
    const minuteInput = document.getElementById('scheduleMinute');

    // Добавляем обработчик событий для каждого поля
    hourInput.addEventListener('input', limitInputToTwoDigits);
    minuteInput.addEventListener('input', limitInputToTwoDigits);
    document.addEventListener('DOMContentLoaded', function() {

});
</script>
<script>
    function saveJSONToFile(jsonData, fileName) {
        const blob = new Blob([JSON.stringify(jsonData, null, 2)], { type: "application/json" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = fileName;
        link.click();
    }
</script>
</body>
</html>
