<!-- MyClient/templates/MyClient/clients.html -->

{% extends 'base.html' %}

{% block title %}Клиенты{% endblock %}

{% block content %}
<!-- Контент страницы -->
<div>
    <!-- Раздел добавления и управления клиентами -->
    <div class="client-controls mb-4">
        <form method="GET" action="{% url 'clients' %}">
            <div class="clients-top">
                <div class="search1">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Поиск клиента"
                           value="{{ request.GET.search }}">
                    <ul id="search-results" class="list-group"></ul>
                    <button type="submit" class="btn" style="background-color: #0288d1; color: white; border: none;
                    width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">
                    <i class="fas fa-search"></i>  <!-- Иконка лупы -->
                    </button>
                </div>
                <div>
                    <select name="sort" class="form-select">
                        <optgroup label="Сортировать по...">
                            <option value="date_added" {% if request.GET.sort == "date_added" %}selected{% endif %}>по дате добавления</option>
                            <option value="first_name" {% if request.GET.sort == "first_name" %}selected{% endif %}>по имени</option>
                            <option value="last_name" {% if request.GET.sort == "last_name" %}selected{% endif %}>по фамилии</option>
                            <option value="metro" {% if request.GET.sort == "metro" %}selected{% endif %}>по метро</option>
                            <option value="price_offline" {% if request.GET.sort == "price_offline" %}selected{% endif %}>по цене офлайн</option>
                            <option value="price_online" {% if request.GET.sort == "price_online" %}selected{% endif %}>по цене онлайн</option>
                        </optgroup>
                    </select>
                </div>
                <div>
                    <a href="{% url 'add_client' %}" class="btn" style="background-color: #0288d1; color: white; border: none; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">
                        <i class="fas fa-plus" style="font-size: 20px;"></i> <!-- Иконка плюса, можно настроить размер -->
                    </a>
                </div>
            </div>
        </form>
    </div>

    <!-- Список клиентов -->
    <div class="client-list">
        {% if page_obj.object_list|length > 20 %}
            {% for client in page_obj.object_list %}
            <div class="client-card mb-3 p-3" style="background-color: {% cycle '#f9f9f9' '#e9ecef' %}; cursor: pointer;" onclick="location.href='{% url 'client_detail' client.id %}'">
                <div><strong>{{ client.first_name }}{% if client.last_name != "яя" %} {{ client.last_name }}{% endif %}</strong>{% if client.metro != "яя" %}, метро {{ client.metro }}{% endif %}</div>
                <div>{% if client.street != "яя" %}улица {{ client.street }}, {% endif %}{% if client.house_number != "яя" %}дом {{ client.house_number }}, {% endif %}{% if client.entrance != "яя" %}подъезд {{ client.entrance }}, {% endif %}{% if client.floor != "яя" %}этаж {{ client.floor }}, {% endif %}{% if client.intercom != "яя" %}домофон {{ client.intercom }}{% endif %}</div>
            </div>
            {% empty %}
            <p>Клиенты не найдены.</p>
            {% endfor %}
        {% elif clients %}
            {% for client in clients %}
            <div class="client-card mb-3 p-3" style="background-color: {% cycle '#f9f9f9' '#e9ecef' %}; cursor: pointer;" onclick="location.href='{% url 'client_detail' client.id %}'">
                <div><strong>{{ client.first_name }}{% if client.last_name != "яя" %} {{ client.last_name }}{% endif %}</strong>{% if client.metro != "яя" %}, метро {{ client.metro }}{% endif %}</div>
                <div>{% if client.street != "яя" %}улица {{ client.street }}, {% endif %}{% if client.house_number != "яя" %}дом {{ client.house_number }}, {% endif %}{% if client.entrance != "яя" %}подъезд {{ client.entrance }}, {% endif %}{% if client.floor != "яя" %}этаж {{ client.floor }}, {% endif %}{% if client.intercom != "яя" %}домофон {{ client.intercom }}{% endif %}</div>
            </div>
            {% empty %}
            <p>Клиенты не найдены.</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}&sort={{ sort_by }}">Назад</a>
            </li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}&search={{ search_query }}&sort={{ sort_by }}">{{ page }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search_query }}&sort={{ sort_by }}">Вперёд</a>
            </li>
        {% endif %}
    </ul>
</div>

</div>
<script>
    document.querySelector('select[name="sort"]').addEventListener('change', function () {
        this.form.submit(); // Отправляем форму при изменении значения в списке
    });
</script>
{% endblock %}



