<!-- MyClient/templates/MyClient/client_detail.html -->

{% extends 'base.html' %}
{% block title %}{{ client.first_name }} {{ client.last_name }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>{{ client.first_name }} {{ client.last_name }}</h1>
    <p><strong>Метро:</strong> {{ client.metro }}</p>
    <p><strong>Адрес:</strong> улица {{ client.street }}, дом {{ client.house_number }}, подъезд {{ client.entrance }}, этаж {{ client.floor }}, домофон {{ client.intercom }}</p>
    <p><strong>Телефон:</strong> {{ client.phone }}</p>
    <p><strong>Цена оффлайн:</strong> {{ client.price_offline }}</p>
    <p><strong>Цена онлайн:</strong> {{ client.price_online }}</p>
</div>
{% endblock %}
